#content-creator {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  font-family: Arial, Helvetica, sans-serif
}
#content-creator div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
#content-creator input {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  color: #444;
  font-size: 20px;background: #eee;
  border: 3px solid #ddd;
  padding-left: 10px;
}
#content-creator button {
  padding: 10px;
  margin: 20px;
  background: rgb(184, 230, 184);
  color: #111;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
}
#content-creator button:nth-child(3) {
  padding: 10px 20px;
  margin-left: 0px;
  margin-right: 0px;
  background: #db9d9d;
}
#content-creator button:hover {
  background: green;
  color: #eee;
}
#content-creator button:nth-child(3):hover {
  background: #dc3c3c;
}
#content-creator div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.tab {
  margin: 0 10%;
  padding: 4px 0;
  background: #444;
  color: #aaa;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}
.tab:hover {
  background: #666;
  color: #eee;
}
.selected {
  background: #c6c7d3;
  color: #fff;
  font-size: 1.2rem;
  pointer-events: none;
}
#content-creator pre {
  position: relative;
  text-align: left;
  max-width: 90%;
  min-width: 90%;
  max-height: 60vh;
  background: #cdd1d9;
  color: #111;
  padding: 40px 10px 40px 10px;
  overflow: auto;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #fff;
  white-space: pre-wrap;
}
.copy-btn {
  position: absolute;
  top: 130px;
  right: 7%;
  max-width: 50px;
  max-height: 30px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

.copy-btn:hover {
  background: #666;
}